html{
	background-color: #d3d8a0;
}
nav{
 
}
td {
    padding-right: 10px;
}
.center{
    display: grid;
    justify-content: center;	
}
.error{
	color: red;
}
#nav{
	background-color:white;
	border: solid;
	border-color: #d8c2a0;
	display: grid;
    justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 41%;
	margin-right: 41%;
	padding-left: 10px;
}